:root {
    color-scheme: light dark;
    --blue-light-color: #2782FB;
    --blue-dark-color: #005AD1;
}

* {
    padding: 0;
    margin: 0;
}

.popup {
    background-color: #FFFFFF;
    width: 300px;
    padding: 0;
}

body {
    font-family: Inter, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, sans-serif;
}

select {
    font-family: inherit;
}

.tool {
    padding: 20px 20px;
}

.tool li {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 500;
}

.tool .translate {
    margin-bottom: 14px;
}

.translate-current {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 14px;
}


.tool li a img {
    width: 22px;
    height: 22px;
}

.divider {
    width: 86%;
    height: 1px;
    background-color: #f0f0f0;
    margin: 0 auto;
}

.course {
    padding: 10px 20px 5px;
}

.course-title {
    padding-bottom: 15px;
    font-size: 13px;
    font-weight: 300;
    color: #333;
}

.course li {
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 12px;
}

.course li a img {
    width: 20px;
    height: 20px;
}



footer {
    padding: 0px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    color: #999999;
}

footer a {
    border: none;
    background-color: transparent;
    color: #FF6A46;
    text-decoration: none;
}

span.header-text {
    padding-left: 6px;
}

img.gh-image {}

img.header-image {}

select.display-method {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;

    padding-right: 28px;
    text-align-last: right;

    appearance: none;
    font-weight: 300;
    color: var(--blue-light-color);

    /* Custom arrow style */
    background: url('/source/intro/arrow.svg') no-repeat right center;
    background-size: 18px 18px;
    font-size: 13px;
}

.display-method::after {
    content: "\25BC";
    /* Unicode for a downward-pointing arrow */
    display: inline-block;
    position: absolute;
    top: 50%;
    /* Vertically center the arrow */
    right: 10px;
    /* Adjust the right distance of the arrow from the right edge */
    transform: translateY(-50%);
    /* Vertically center the arrow */
    font-size: 12px;
    /* Adjust the font size of the arrow */
    pointer-events: none;
    /* Make sure the arrow does not interfere with clicks */
}

.black-white-words {
    color: #333;
    font-size: 13px;
}

.swiftgg-blue-words {
    color: var(--blue-light-color);
}

@media (prefers-color-scheme: dark) {
    .popup {
        background-color: #1F1F1F;
    }

    header {
        background-color: #1C1C1C;
    }

    span {
        color: white;
    }

    img.gh-image {
        filter: invert(1);
    }

    .black-white-words {
        color: white;
    }

    img.header-image {
        filter: brightness(120%);
    }

    .course select {
        color: var(--blue-dark-color);
    }

    .divider {
        background-color: #2E2E2E;
    }

    select.display-method {
        color: var(--blue-dark-color);
    }

    .swiftgg-blue-words {
        color: var(--blue-dark-color);
    }
    .course-list li {
        background-color: #2A2A2A;
    }
}

@media screen and (max-device-width: 748px) {

    /* 设置移动设备的宽度 */
    .popup {
        width: 100%;
    }
}

.course-list {
    list-style-type: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.course-list li.course-item {
    height: 30px;
    background-color: #F5F9FF;
    padding: 8px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
    margin-bottom: 10px;
}

.course-category {
    display: block;
    color: var(--blue-light-color);
    font-size: 10px;
    margin-bottom: 4px;
}

.course-title,
.course-title:hover,
.course-title:visited,
.course-title:active,
.course-title:focus {
    color: #333;
    text-decoration: none !important;
    font-size: 13px;
    font-weight: 400;
    display: block;
    border-bottom: none !important;
}
.course-list li a {
    all: unset;
    cursor: pointer;
}
@media (prefers-color-scheme: dark) {
    .course-title,
    .course-title:hover,
    .course-title:visited,
    .course-title:active,
    .course-title:focus,
    .course-list li a {
        color: var(--blue-dark-color) !important;
        text-decoration: none !important;
        border-bottom: none !important;
    }
    .course-category {
        color: var(--blue-dark-color);
    }
}