p.indicator { font-size: 18px; font-weight: bold; color: #FFFFFF; }

.swiftgg-unselectable {
    -webkit-touch-callout:none; /* iOS Safari */
    -webkit-user-select:none;   /* Chrome/Safari/Opera */
    -moz-user-select:none;      /* Firefox */
    -ms-user-select:none;       /* Internet Explorer/Edge */
    user-select:none;           /* Non-prefixed version */
}
