
*{padding: 0; margin: 0;}

.popup {
    background-color: #FFFFFF; 
    width: 280px; 
    height: 406px; 
    padding: 0px;
}

header {
    background-color: #FAFAFA; 
    width: 100%; 
    height: 64px; 
    display: flex; 
    align-items: center;
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 600;
}

header img{
    height: 24px;
    margin-right: 4px;
}
